
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", serif;
    color: #333;
    line-height: 1.6;
    display: flex; /* Active Flexbox */
    flex-direction: column; /* Organise les éléments verticalement */
    min-height: 100vh; /* Hauteur minimale de la page = 100% de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
}

.navbar {
    position: fixed;
    top: 1rem; /* Descend un peu pour l'effet flottant */
    left: 50%; /* Point d'ancrage au milieu */
    transform: translateX(-50%); /* Centre la nav sur l'écran */
    background-color: rgba(55, 55, 55, 0.9); /* Couleur de fond semi-transparente */
    color: white;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    width: auto; /* Retirer le 100% */
    min-width: 20vh; /* Largeur minimale */
    border-radius: 1vh; /* Bords arrondis */
    box-shadow: 0 4px 15px rgba(0,0,0,0.3); /* Ombre pour effet flottant */
}

/* Si vous voulez ajuster la liste, par exemple la centrer dans la nav */
.navbar nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar nav ul li {
    position: relative;
    margin-left: 1em;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 2rem;
}

.navbar nav ul li a {
    text-decoration: none;
}

.navbar nav ul li a:hover {
    color: #afafaf;
    transition: color 0.3s;
}

.navbar nav ul li a {
    color: white;
}

.navbar nav ul li .dropdown {
    position: absolute;
    display: block; 
    top: 100%;
    left: 0;
    background-color: rgba(55, 55, 55, 0.9);
    list-style: none;
    padding: 0.5rem 0;
    min-width: 15em;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none; 
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar nav ul li:hover .dropdown {
    display: block; 
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.navbar nav ul li .dropdown li {
    padding: 0.5rem 1rem;
}

.navbar nav ul li .dropdown li a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    display: block;
}

.navbar nav ul li .dropdown li a:hover {
    transform: translateX(10px);
    color: #afafaf;
    border-radius: 1em;
    transition: color 0.5s;
}

.navbar nav ul li:hover .dropdown {
    opacity: 100%;
}

/* Bannière */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.8);
}

.accueil {
    position: relative;
    z-index: 2;
    text-align: center;
    color:white;
}

.accueil h1 {
    font-size: 2.5rem;
    text-shadow: 0 4px 15px rgba(0,0,0,0.3);
    margin-bottom: 0.5rem;
}

.accueil p {
    padding-left: 5em;
    text-shadow: 0 4px 15px rgba(0,0,0,0.3);
    padding-right: 5em;
    font-size: 1.1rem;
    text-align: justify;
}

main {
    padding: 1rem;
    text-align: center;
}

main>div>h1 {
    padding-top: 1.5em;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

main>div {
    padding: 2rem; /* Espace autour de la section projets */
    text-align: center;
    height: 100vh;
}

main>div>div {
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

main>div>div>div {
    background-color: #f4f4f4;
    border-radius: 8px; 
    padding: 1.5rem;
    width: 50em; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    text-align: left; 
    margin-bottom: 2em;
}

main>div>div>div>h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    padding-bottom: 0.5em;

}

main>div>div>div>p {
    font-size: 1rem;
    line-height: 1.4;
    text-align: justify;
    padding-bottom: 1em;
}
